<section id="home-info" class="bg-dark">
    <div class="info-img"></div>
    <div class="info-content">
      <h2><span class="text-primary">The History</span> Of Our Hotel</h2>
      <p>
        “Meet me at The HSJ” may have been one of Nashville’s most popular phrases during the 20th Century. 
        When spoken or heard today, those words evoke a timeless sense of quality and excitement, a touch of glamor and class, 
        and the assurance of a memorable experience amongst friends. 
      </p>
    </div>
  </section>
