<section id="testimonials" class="py-3">
    <div class="container">
      <h2 class="l-heading">What Our Guests Say</h2>
      <div class="testimonial bg-primary">
        <img src="../../../assets/imgs/bizDude1.jpg" alt="Don">
        <p>Perfect location, Great old world ambiance. Very nice restaurant in the basement - even breakfast felt like gourmet meal. TV built into bathroom mirror made kids to brush their teeth three times a day.</p>
      </div>

      <div class="testimonial bg-primary">
          <img src="../../../assets/imgs/bizDude2.jpg" alt="Joe">
          <p>Too much to mention. Amenities...NOTHING was forgotten. Accommodating staff. Well staffed. Luxurious surroundings. Nothing to complain about. Nothing but complements.</p>
        </div>
    </div>
  </section>
